#aside-content
    .card-widget.card-welcome
        padding: 8px
        .item-headline
            margin: 12px 16px 0 16px
        .item-content
            margin: 0 16px 10px 16px
        #welcome-info
            text-align center
            background-color: var(--liushen-card-bg)
            border-radius: 12px
            padding: 16px
            margin: 8px
            // border: 2px solid var(--liushen-text)