// #digit-clock
//     height: 150px
//     display: flex
//     justify-content: center
//     align-items: center

// #clock
//     font-size: 5px
//     position: relative
//     // 不换行，超出的话自适应字体
//     white-space: nowrap

// .digit-group
//     display: inline-block

//     &:not(:last-child):after
//         color: inherit
//         content: ":"
//         font-size: 50px

// .digit
//     display: inline-block
//     width: 33px

//     .digit-number
//         color: inherit
//         transform: rotate(-90deg)
//         transition: font-size 200ms, transform 350ms, color 150ms

//         &.bright
//             color: inherit
//             font-size: 25px
//             transform: rotate(0deg)
