.fancybox__content
  border-radius 12px
  
  .fancybox-image
    border-radius 12px

.fancybox__backdrop
  background: var(--liushen-fancybox-bg) !important
  backdrop-filter: blur(10px)

.f-button
  background: none !important
  color: var(--liushen-fancybox-button-color) !important