if theme.aside.card_welcome && theme.aside.card_welcome.enable
  .card-widget.card-welcome
    .item-headline
      i(class=theme.aside.card_welcome.icon || 'fa fa-user')
      span= theme.aside.card_welcome.title || 'Welcome'
    if theme.aside.card_welcome.content
      .item-content!= theme.aside.card_welcome.content
    if theme.aside.card_welcome.location && theme.aside.card_welcome.location.enable
      #welcome-info
        .error-message(style="height: 200px; display: flex; justify-content: center; align-items: center;")
          p(style="text-align: center;")
            span(style="font-size: 16px;")= theme.aside.card_welcome.error_text || 'Location service unavailable'
