#article-container
  .btn-beautify
    @extend .cardHover
    display: inline-block
    margin: 0 4px
    padding: 8px 16px
    background-color: var(--liushen-button-hover-bg)
    color: #fff
    line-height: 1.5
    text-align: center
    vertical-align: middle
    cursor: pointer
    addBorderRadius()

    &:hover
      text-decoration: none

    i + span
      margin-left: 8px

    &:not(.block) + .btn-beautify:not(.block)
      margin: 0 6px 20px

    &.block
      display: block
      margin: 0 auto 20px
      width: fit-content
      width: -moz-fit-content

    &:hover
      text-decoration: none
