.note
  addBorderRadius()
  border var(--liushen-card-border)
  position: relative
  margin: 0 0 20px
  padding: 15px 15px 7px 15px
  background-color: var(--liushen-card-bg)
  transition: transform 0.3s ease

  &:hover
    transform: translateY(-3px)

  &.note-warning
    background-image: radial-gradient(circle at 4em -25em, #f0ad4e, transparent 30em),
                linear-gradient(#f0ad4e -2000%, transparent)
    .note-header
      color: #f0ad4e

  &.note-info
    background-image: radial-gradient(circle at 4em -25em, #5cb85c, transparent 30em),
                linear-gradient(#5cb85c -2000%, transparent)
    .note-header
      color: #5cb85c

  &.note-error
    background-image: radial-gradient(circle at 4em -25em, #d9534f, transparent 30em),
                linear-gradient(#d9534f -2000%, transparent)
    .note-header
      color: #d9534f

  &.note-question
    background-image: radial-gradient(circle at 4em -25em, #5bc0de, transparent 30em),
                linear-gradient(#5bc0de -2000%, transparent)
    .note-header
      color: #5bc0de

  .note-header
    display: flex
    align-items: center
    font-weight: bold
    margin-bottom: 10px
    font-size: 1.0em
    i.note-icon
      margin-right: 10px
      color: inherit